<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="gin0115_wp_cricket_scores">
            <directory prefix="Test_" suffix=".php">./tests/wp-cricket-scoring</directory>
            <directory prefix="Test_" suffix=".php">./tests/cricket-scoring</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <php>
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-config.php" />
        <ini name="memory_limit" value="512M" />
    </php>

    <logging>
        <log type="coverage-clover" target="clover.xml" />
    </logging>
</phpunit>